@let loggedUser = authService.loggedUser$();

@if (loggedUser && authService.isLoggedUser()) {
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      @if (loggedUser.scope === 'global' && loggedUser.role === 'admin'){
        <a class="navbar-brand" routerLink="/home-page" >Home</a>
      }
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          @if (loggedUser.scope === 'global') {
            @if (loggedUser.role === 'admin'){
              <li class="nav-item">
              <a class="nav-link" routerLink="/managers">Managers</a>
            </li>
            }
            <li class="nav-item">
              <a class="nav-link" routerLink="/all-employees">Employees</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" routerLink="/scheduler">Scheduler</a>
            </li>
          }
        </ul>
        <button class="btn btn-outline-danger btn-sm" (click)="onLogOut()">Log out</button>
      </div>
    </div>
  </nav>
}




<router-outlet></router-outlet>


<style>

  


</style>