   <div class="modal-header">
      <h5 class="modal-title">Confirm Delete</h5>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete <span class="text-danger">{{employee.first_name + ' ' + employee.last_name}}</span>?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn btn-danger"  (click)="onDelete()">Delete</button>
    </div>
    @if (successMessage()) {
  <div class="alert alert-success d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
      <use xlink:href="#check-circle-fill"/>
    </svg>
    <div>
      {{ successMessage() }}
    </div>
  </div>
}

    @if (error()){
      <p class="text-danger">{{error()}}</p>
    }